<% provide(:title, "Choosy") %>
<div class="center jumbotron">
	<% if logged_in? %>
		<h1> Newsfeed!! </h1>
		
	<% else %>
		<h1>Choosy - Main Page</h1>
		<p>
			This is the main page for the Choosy web application.
		</p>
	<% end %>
</div>