<% provide(:title, "Choosy") %>
<div class="center jumbotron">
	<% if user_signed_in? %>
		<h1> Newsfeed!! (under maintainence) </h1>
		<p>
		<% @images.each do |image| %>
  			<%= image_tag image.avatar.url %>
  		<% end %>
  		</p>
	<% else %>
		<h1>Choosy - Main Page</h1>
		<p>
			This is the main page for the Choosy web application.
		</p>
	<% end %>
</div>